body{
    font-family: sans-serif;
}


/* .restaurantLander button{
    cursor: pointer;
    margin: 10px;
    border-radius: 20px;
    outline: none;
    border: none;
    padding: 10px;
} */
/* .restaurantContainer{
    display: flex;
    flex-wrap: wrap;
} */


/* .restaurantCard .restaurantCardHeading{
    font-weight: 800;
}

.restaurantCard .restaurantCardSubHeading{
    font-weight: 400;
} */